# Expo
.expo/
.expo-shared/
dist/

# Node
node_modules/
*.npm
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
package-lock.json
yarn.lock

# OS
.DS_Store
Thumbs.db
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# TypeScript
*.tsbuildinfo

# Build outputs
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
